# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/default/*.php
sites/*/private
C:/xampp
.idea
.gitignore/*
.htaccess
.editorconfig
react
sites/default/default.settings.php