/* Здесь находится код с лучшей вёрсткой во Вселенной */

/*Blog general. Main page*/

.TAtical{
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 22px;
    text-transform: uppercase;
    background-color: #fc1643;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    font-weight: normal;
}

.TBlkbody a{
     text-decoration: none;
     color: #000000;
 }

.view-video-blog a:hover{
    text-decoration: none;
    color: #fc1643;
}

.TBlkbody{
    font-size: 16px;
    margin:20px 0px 38px 0px;
}

.TBlkbodyTxt{
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    margin:27px 0px 27px 0px;
}

.TLnkReadmore{
    font-size: 13px;
    padding-top: 26px;

}

.TLnkReadmore a{
    text-decoration: none;
    color: #fc1643;
}

.page-blog .view-video-blog .views-row{
    width: 355px;
    float: left;
    margin: 0px 37px 74px 0px;
}

.page-blog .view-video-blog .views-row:nth-child(3n) {
    margin-right: 0px;
}

.page-blog .view-video-blog .views-row:nth-child(3n+1) {
    clear: both;
}

.page-blog .view-video-blog .pager a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 0px 0px 0px 5px;
}

.page-blog .view-video-blog .pager-current{
    text-decoration: none;
    color: #fc1643;
    padding: 0px 0px 0px 0px;
}

.page-blog .view-video-blog .pager-item{
    text-decoration: none;
    color: #fc1643;
    padding: 0px 5px 0px 0px;
}

.page-blog .view-video-blog .pager-next{
    text-decoration: none;
    color: #fc1643;
    padding: 0px 0px 0px 0px;
}

/*Blog. Single aticles*/

.RTxt{
    color: #fc1643;
    float: left;
    margin-right: 10px;
}

.DAticle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.TxtAticle{
    color: #585858;
    font-size: 14px;
}

.node-type-blog .layout-3col__right-content > h1{
    display: none;
}

.field-name-field-blog{
    display: none;
}

.node-type-blog .layout-3col__right-content .title .line {
    border-bottom: 2px solid #fc1643;
    width: 50px;
    position: absolute;
    top: 33px;
}

.node-type-blog .layout-3col__right-content .title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.node-type-blog .layout-3col__left-sidebar .view-content .views-row a{
    font-size: 10px;
    text-decoration: none;
    color: #000000;
}

.node-type-blog .layout-3col__left-sidebar .view-content .views-row a:hover{
    font-size: 10px;
    text-decoration: none;
    color: #fc1643;
}

.node-type-blog .layout-3col__left-sidebar .view-content .views-row{
    font-size: 10px;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.node-type-blog .layout-3col__left-sidebar .block__title{
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}








