body{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.first-header-wrapper{
    background: #fff;
    height: 75px;
}

.first-header{
    width: 1140px;
    margin: 0 auto;
}

.first-header .logo{
    width: 130px;
    padding-top: 30px;
    height: 16px;
    float: left;
}

.second-header{
    height: 140px;
    background: url('../img/bg-header.png');
}

.front  .second-header{
    height: 140px;
    background: url('../img/bg-header.png');
}

.layout-3col__full{
    min-height: 600px;
}

#block-menu-menu-mainmenu{

}

#block-menu-menu-mainmenu ul{
    margin: 0;
    padding: 0;
    padding-top: 26px;
    margin-left: 165px;
}

#block-menu-menu-mainmenu ul li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
}

#block-menu-menu-mainmenu ul li a:hover,
#block-menu-menu-mainmenu ul li a.active{
    padding-bottom: 4px;
    border-bottom: 2px solid;
}

#block-menu-menu-mainmenu ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000000;
}

#block-block-1{
    float: right;
}

#block-block-1 a{
    color: #000000;
    padding-left: 10px;
    text-decoration: none;
}

#block-block-1 a:hover{
    color: #fc1643;
}

.layout-3col.layout-swap{
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.page-main-episodes .layout-3col__full > h1{
    font-size: 24px;
    border-bottom: 1px #e5e5e5;
}

.view-main-episodes .views-row{
    width: 270px;
    float: left;
    margin-right: 20px;
}

.view-main-episodes .views-row img{
    width: 270px;
}

.view-main-episodes .views-row:nth-child(4n){
    float: left;
    margin-right: 0;
}

.view-main-episodes .views-field-title a{
    text-decoration: none;
    font-weight: 600;
    height: 40px;
    margin-bottom: 40px;
    display: block;
    color: #000;
}

.view-main-episodes .views-field-title a:hover{
    color: #fc1643;
}

.view-main-episodes .views-field-field-image-episode{
    margin-bottom: 12px;
}

.view-main-episodes  .views-field-title{
    height: 62px;
}

.header{
    margin-bottom: 70px;
}

.page-podcasts .header{
    margin-bottom: 44px;
}

.view-title-wrapper{
    margin-bottom: 30px;
}

.view-title{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.view-title .red{
    color: #fc1643;
}

.view-title-wrapper .line{
    border-bottom: 2px solid #fc1643;
    width: 50px;
}

.view-title-wrapper{
    position: relative;
}
.view-title-wrapper .line{
    position: absolute;
    top: 44px;
}

.header__region.region-header{
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

.header__region.region-header .left{
    width: 770px;
    float: left;
}

.header__region.region-header .title-block{
    color: #cdcdcd;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.header__region.region-header .title-podcast{
    width: 480px;   
}

.header__region.region-header .title-podcast a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

.header__region.region-header .desc-podcast{
    font-size: 16px;
    color: #cdcdcd;
    width: 480px;
}

.view-main-episodes.view-id-main_episodes.view-display-id-block_1 .views-row{
    float: none;
    width: 100%;
}

.after-main-wrapper{
    padding-top: 90px;
    height: 390px;
    width: 100%;
    background: url('../img/bg-footer.png');
}

.after-main{
    margin: 0 auto;
    width: 1140px;
}

.view-id-blog.view-display-id-block .view-title{
    color: #fff;
}

.view-id-blog.view-display-id-block .views-field-field-blog{
    color: #fff;
    background: #fc1643;
    padding: 0 18px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}

.view-id-blog.view-display-id-block .views-row{
    float: left;
    margin-right: 30px;
    width: 320px;
}

.view-id-blog.view-display-id-block .views-field-title a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    display: block;
}

.view-id-blog.view-display-id-block .views-field-title a:hover{
    color: #fc1643;
}


.region-bottom-wrapper{
    padding-top: 90px;
    height: 390px;
    width: 100%;
    background: url('../img/bg-footer.png');
}

.region-bottom{
    margin: 0 auto;
    width: 1140px;
}

#block-block-2{
    text-align: center;
}

.footer-wrapper{
    width: 100%;
    background: #000;
}

.footer{
    height: 75px;
    margin: 0 auto;
    width: 1140px;
    position: relative;
}

#block-nice-menus-1 ul{
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

#block-nice-menus-1 ul li{
    background: none;
    margin: 0;
    padding: 0;
    float: left;
    padding-right: 10px;
    border: none;
    width: auto;
}

#block-nice-menus-1 ul li:last-child a{
    padding-right: 0;
}

#block-nice-menus-1 ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}

#block-nice-menus-1 ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    padding-right: 30px;
}

#block-nice-menus-1{
    position: absolute;
    right: 0;
    top: 25px;
}

#block-block-3{
    color: white;
    float: left;
    padding-top: 24px;
}

.header-title-wrapper{
    margin: 0 auto;
    width: 1140px;
    padding-top: 54px;
}

.header-title{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.header-title .red{
    color: #fc1643;
}

#block-subscribe-subscribe{
    padding-top: 84px;
    padding-bottom: 90px;
}

#block-subscribe-subscribe .subscribe-tile{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#block-subscribe-subscribe .subscribe-tile{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
}

#block-subscribe-subscribe .subscribe-desc{
    text-align: center;
    font-size: 14px;
    width: 500px;
    margin: 0 auto;
    color: #8a8a8a;
    padding-bottom: 3px;
}

#block-subscribe-subscribe #edit-state{
    border: none;
    width: 500px;
    margin: 0 auto;
}

#block-subscribe-subscribe #edit-email{
    width: 270px;
    padding: 5px 5px;
    float: left;
}

#block-subscribe-subscribe input[type=submit]{
    background: none;
    margin-left: 40px;
    border: 2px solid #fc1643;
    padding: 5px 19px;
    color: #fc1643;
    font-weight: 600;
}

.anounce-wrapper{
    color: #fff;
    font-size: 24px
}

.anounce-wrapper .red{
    color: #fc1643;
}

.about .image img{
    width: 42%;
    float: left;
    border: 5px solid #fc1643;
}

.about .body{
    line-height: 30px;
    margin-left: 43%;
    text-align: justify;
}


.about .body p{
    margin: 1.5rem 0;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 12px;
    color: #616161;
    padding-left: 60px;
}

.about .body .red{
    color: #fc1643;
    font-weight: bold;
    font-size: 20px;
}

.clear{
    clear: both;
}

.page-contacts .header {
    margin-bottom: 40px;
}

.page-contacts  blockquote{
    position: relative;
    font-family: Georgia,"Times New Roman",Times,serif;
    margin: 0;
}

.page-contacts  blockquote p span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 120px;
    line-height: .8em;
}


.page-contacts .about blockquote p {
    margin: 0;
    padding: 0 0 0 60px;
    font-size: 28px;
    font-style: italic;
    text-align: justify;
    line-height: 1.4em;
    color: #979797;
}

.page-contacts blockquote .author{
    color: #979797;
    padding-left: 61px;
}

.page-contacts .layout-3col__full{
    padding: 0;
}

.page-contacts input[type=text]{
    padding: 12px 12px;
    border: 1px solid #e4e4e4;
}

.page-contacts .form-type-textfield{
    float: left;
    width: 353px;
    margin-right: 40px;
}

.page-contacts .form-type-textfield.form-item-title {
    /* float: none; */
    margin-right: 0;
}

.page-contacts .form-type-textarea {
    clear: both;
}

.page-contacts textarea{
    padding: 12px;
}

.grippie{
    display: none !important;
}

#about-contact-form{
    margin-bottom: 30px;
}

#about-contact-form input[type=submit]{
    border: 2px solid #fc1643;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fc1643;
}

#about-contact-form input[type=submit]:hover{
    border: 2px solid #fc1643;
    width: 100%;
    background: #fc1643;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#block-subscribe-subscribe input[type=submit]:hover{
    background: #fc1643;
    color: #fff;
}

.page-podcasts .layout-3col__right-content{
    width: 850px;
    margin-left: 290px;
    padding: 0;
}

.page-podcasts .layout-3col__left-sidebar,
.page-node .layout-3col__left-sidebar{
    width: 283px;
    margin-left: 0;
    margin-right: 869px;
}

.page-node .layout-3col__right-content{
    width: 850px;
    margin-left: 290px;
    padding: 0;
    background: #fff;
    padding-left: 68px;
    padding-top: 40px;
    padding-right: 65px;
    margin-bottom: 40px;
    min-height: 500px;
    padding-bottom: 40px;
}


.node-type-episode .layout-3col__right-content > h1,
.node-type-transalte  .layout-3col__right-content > h1{
    display: none;
}

.node-type-episode .layout-3col__right-content .title,
.node-type-transalte .layout-3col__right-content .title{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.node-type-episode .layout-3col__right-content .body,
.node-type-transalte  .layout-3col__right-content .body{
    color: #6b6b6b;
}

.node-type-episode .layout-3col__right-content .youtube-field-player{
    width: 100%;
    height: 400px;
}

.node-type-episode .layout-3col__right-content .title .line,
.node-type-transalte  .layout-3col__right-content .title .line{
    border-bottom: 2px solid #fc1643;
    width: 50px;
    position: absolute;
    top: 33px;
}


.page-podcasts  .view-main-episodes .views-row:nth-child(3n) {
    float: left;
    margin-right: 0;
}

.page-podcasts  .view-main-episodes .views-row:nth-child(3n+1) {
    margin-right: 20px;
    clear: both;

}

.not-front{
    background: #faf9f9;
}

.layout-3col__left-sidebar .block.block-search{
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px;
    margin-bottom: 30px;
}

.layout-3col__left-sidebar  .block,
.layout-3col__right-sidebar .block{
    background: #fff;
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

#block-events-category-translate .category ul{
    margin: 0;
    padding: 0;
}

#block-events-category-translate .category ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 12px;
}

#block-events-category-translate .category ul li.active a i{
    color: #fc1643;
}

#block-events-category-translate .category ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #000;
}

#block-events-category-translate .category ul li.active a{
    color: #fc1643;
}

#block-events-category-translate .category ul li a:hover{
    color: #fc1643;
}

#block-events-category-translate .category ul li a:hover i{
    color: #fc1643;
}

#block-events-category-translate .category ul li a i{
    color: #909293
}

/*block-events-category-translate*/

.page-podcasts .view-main-episodes .views-field-title a{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
    height: auto;
}

.page-podcasts .view-main-episodes .views-field-title a:hover{
    color: #fc1643;
}

.page-podcasts .view-main-episodes .views-field-body p{
    padding-top: 0;
    margin-top: 0;
}

.page-podcasts .view-main-episodes .views-row {
    width: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.page-podcasts .view-main-episodes .views-row img{
    width: 270px;
}

#search-block-form input[type=submit]{
    display: none;
}

#search-block-form input[type=text]{
    width: 100%;
    background: url("../img/search.png") no-repeat right;
    border: none;
    padding-left: 10px;
}

#search-block-form{
    margin: 0;
}

#search-block-form input[type=text]:focus{
    outline: none;
}

#search-block-form .form-item{
    margin: 0;
}

#block-events-category-translate h2{
    display: none;
}

#block-events-category-translate{
    text-transform: uppercase;
}

#block-events-category-translate .title{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.breadcrumb{
    height: 46px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.breadcrumb .breadcrumb__list{
    margin: 0 auto;
    width: 1140px;
}

.breadcrumb__list .breadcrumb__item{
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}

.breadcrumb__list .breadcrumb__item a{
    color: #fc1643;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}


.layout-3col .layout-3col__full {
    padding-left: 0;
    padding-right: 0;
}

.view-translate .views-field-title{

}

.view-translate .views-field-title a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.view-translate .views-field-title a:hover{
    color: #fc1643;
}

.view-translate .views-row{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 25px;
    clear: both;
}

.view-translate .views-row:nth-child(4n){
    margin-right: 0;
}

.sidebar-second  .layout-3col__right-sidebar {
    clear: right;
    float: right;
    width: 295px;
    margin-right: 0%;
    margin: 0;
    margin-left: -100%;
    padding: 0;
}

.view-translate  .title{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
    position: relative;
}

.view-translate .title .line{
    position: absolute;
    top: 38px;
    border-bottom: 2px solid #fc1643;
    width: 50px;
}

.content-views{
    padding-top: 20px;
}

.view-translate .left{
    float: left;
}

.view-translate .right{
    margin-left: 280px;
    font-size: 13px;
    height: 173px;
    overflow: hidden;
    position: relative;
}


.view-translate .views-field-body p {
    margin-top: 0;
    margin-bottom: 11px;
}

.page-translations.not-front{
    background: #fff;
}

.view-translate .shadow{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 79%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 79%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 79%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    width: 100%;
    position: absolute;
    height: 50px;
    top: 123px;
    left: 0;
}

/*.breadcrumb__separator{*/
    /*display: #fff;*/
/*}*/
/*.breadcrumb__separator:before {*/
    /*color: #ccc;*/
    /*content: "/ ";*/
    /*padding: 0 5px;*/
/*}*/


.view-tasks.view-id-tasks{
    border-radius: 4.5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 2px 10px rgba(0,30,80,0.03), 0 0 3px rgba(0,30,80,0.03), 0 0 0 1px rgba(0,30,80,0.04), 0 1px 0 rgba(0,30,80,0.06);
    background: #fff;
    padding: 20px 30px;
}

.view-tasks.view-id-tasks .title-task{
    font-size: 15px;
    font-weight: bold;
    color: #333;
    line-height: 21px;
    float: left;
}

.view-tasks.view-id-tasks .title-task{
    font-size: 15px;
    font-weight: bold;
    color: #333;
    line-height: 21px;
}

.view-tasks.view-id-tasks .date span{
    color: #FFF;
    background: #828588;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    padding: 3px 9px 4px;
    border-radius: 3.5px;
}

.view-tasks.view-id-tasks .date{
    float: right;
    font-size: 13px;
}

.view-tasks.view-id-tasks .date label{
    font-size: 13px;
    font-weight: bold;
    float: left;
    color: #444;
    padding-right: 5px;
}

.view-tasks.view-id-tasks th,
.view-tasks.view-id-tasks td{
    text-align: left;
    font-size: 14px;
   /* font-weight: 600;*/
    color: #333;
    line-height: 20px;
    margin: 5px 0;
}

.view-tasks.view-id-tasks th{
    font-weight: bold;
}

.view-tasks.view-id-tasks td.views-field-created{
    color: #FFF;
    background: #828588;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    padding: 3px 12px 4px;
    border-radius: 3.5px;
    display: inline-block;
    float: right;
}

.view-tasks.view-id-tasks th:last-child{
    text-align: right;
}

th.views-field views-field-field-executor{
    width: 40px;
}

.view-tasks.view-id-tasks td.views-field-title{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 20px;
}

.view-tasks.view-id-tasks .views-field-title a{
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.view-tasks.view-id-tasks td{
   /* padding: 5px;;*/
}

.view-tasks.view-id-tasks td:first-child{
    padding-right: 10px;
}

.view-tasks.view-id-tasks th{
    border-bottom: 1px solid #e5e5e5;
}

.view-tasks.view-id-tasks tr:nth-child(even){
    background: rgba(0, 0, 0, 0.03);
}

/*.view-tasks.view-id-tasks tr:first-child td{*/
    /*padding-top: 20px;*/
/*}*/

#block-block-5{
    float: right;
    padding-left: 10px;
    font-size: 12px;
    color: #fff;
}

#block-block-5 .contextual-links-wrapper{
    display: none;
}

#block-block-5 .contextual-links-wrapper{
    display: none;
}

#block-block-5 a{
    color: #000;
}

.node-type-tasks main > h1{
    display: none;
}

.node-type-tasks main{
    /*width: 850px;*/
    /*margin-left: 290px;*/
    padding: 0;
    background: #fff;
    padding-left: 68px;
    padding-top: 40px;
    padding-right: 65px;
    margin-bottom: 40px;
    min-height: 500px;
    padding-bottom: 40px;
}

.page-tasks .header,
.page-task .header{
    margin-bottom: 0px;
}

.page-tasks .third-header-wrapper,
.page-task .third-header-wrapper{
    margin-bottom: 20px;
}

.page-tasks .third-header-wrapper .third-header,
.page-task .third-header-wrapper .third-header{
    width: 1140px;
    margin: 0 auto;
    border-radius: 4.5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 2px 10px rgba(0,30,80,0.03), 0 0 3px rgba(0,30,80,0.03), 0 0 0 1px rgba(0,30,80,0.04), 0 1px 0 rgba(0,30,80,0.06);
    background: #fff;
    padding: 15px 20px;
}

.page-tasks .third-header-wrapper .third-header #block-block-6{

}

#block-block-6 a{
    text-decoration: none;
    color: #000;
    /* border-right-width: 1px; */
    /* border-top-right-radius: 3px; */
    /* border-bottom-right-radius: 3px; */
    /* border-top-left-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
    /* border-left-color: rgba(0,30,80,0.1); */
    /* border-style: solid; */
    border: 1px solid #d2d2d2;
    padding: 3px;
    border-radius: 4px;
}

#block-block-6 a:hover{
    border: 1px solid #fc1643;
}

.task{
    border-radius: 4.5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 2px 10px rgba(0,30,80,0.03), 0 0 3px rgba(0,30,80,0.03), 0 0 0 1px rgba(0,30,80,0.04), 0 1px 0 rgba(0,30,80,0.06);
    background: #fff;
    padding-bottom: 20px;
}

.actions-wrapper{
    height: 40px;
    background: #eaeaea;
    padding: 5px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 15px;
}

.page-task .header{
    margin-bottom: 0;
}

/*.task .body{*/
    /*padding: 15px;*/
/*}*/

.task .nid{
    border-radius: 0 10px 10px 0;
    padding: 0 8px 1px;
    box-shadow: 0 100px 0 rgba(0,30,80,0.08) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    font-size: 15px;
    font-weight: 600;
    color: #333;
    line-height: 21px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.task .title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 21px;
    padding-top: 2px;
}

.info-task{
    clear: both;
    padding-left: 15px;
}

.info-task label{
    color: #878B8E;
    clear: both;
    font-size: 12px;
    width: 100px;
    display: inline-block;
    font-weight: normal;
}

.task  .info{
    height: 20px;
}

.info-task span{
    font-size: 12px;
    color: #878B8E;
}

.task .title-wrapper{
    margin-bottom: 10px;
}

.task .description,
.task .comments-wrapper{
    padding: 15px;
    font-size: 14px;
}

.task  .title-desc,
.task .title-comment{
    border-bottom: 1px solid #b5b5b5;
    font-weight: 600;
    margin-bottom: 10px;
}

.task .description .text{
    color: #5a5a5a;
}

.task  p{
    margin-top: 0;
    margin-bottom: 0;
}

.page-task .action{
    cursor: pointer;
}

.page-task .actions .contextual{
    padding: 2px;
    /* border: 1px solid #000; */
    border-radius: 2px;
    display: inline-block;
    margin-left: 5px;
    float: right;
}

.page-task .actions .clear{
    border: none;
}

.page-task .actions .icon{
    text-decoration: none;
    font-size: 12px;
    color: #383838;
}

.page-task .actions .icon:hover{
    text-decoration: underline;
    font-size: 12px;
    color: #383838;
}

.icon-add { background-image: url(../img/add.png); }
.icon-edit { background-image: url(../img/edit.png); }
.icon-copy { background-image: url(../img/copy.png); }
.icon-duplicate { background-image: url(../img/duplicate.png); }
.icon-del { background-image: url(../img/delete.png); }
.icon-move { background-image: url(../img/move.png); }
.icon-save { background-image: url(../img/save.png); }
.icon-cancel { background-image: url(../img/cancel.png); }

.icon {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#tasks-comment-form .form-item-text{
    margin: 0;
    margin-bottom: 20px;
}

textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#tasks-comment-form fieldset {
    padding: 0.525rem 0.9375rem 0.975rem;
    border: 1px solid #cccccc;
    margin: 0 2px;
    border-radius: 4px;
}

#tasks-comment-form input[type=submit]{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: white;
    color: #2d2d2d;
    /* background-color: #343a40; */
    border-color: #404040;
}

#tasks-comment-form input[type=submit]:hover{
    background-color: #404040;
    color: #fff;
    border-color: #fff;
}

.comments-wrapper .comments{
    margin: 0;
}

.comments .about-user{
    border-bottom: 1px dotted #c1c1c1;
    margin-bottom: 7px;
}

.comments .about-user .fas{
    font-size: 30px;
}

.comments .about-user span{
    color: #737373;
}

.comments .comment{
    margin-bottom: 20px;
}

